.e20_454 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:866px;
	position:absolute;
}
.e20_455 { 
	border-radius:500px;
	background-color:rgba(116.8750025331974, 227.17576503753662, 233.7500050663948, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:1042px;
	top:689px;
}
.e20_456 { 
	border-radius:500px;
	background-color:rgba(255, 193.664770424366, 120.06250709295273, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:742px;
	top:433px;
}
.e20_457 { 
	border-radius:500px;
	background-color:rgba(58.00000034272671, 158.00000578165054, 62.00000010430813, 1);
	opacity:0.5;
	width:740px;
	height:740px;
	position:absolute;
	left:830px;
	top:-100px;
}
.e20_458 { 
	box-shadow:48px 24px 48px rgba(24.000000469386578, 37.00000159442425, 56.000000461936, 0.11999999731779099);
	transform: rotate(-6.999999910278043deg);
	width:590.5852661132812px;
	height:422.1610412597656px;
	position:absolute;
	left:744.8168334960938px;
	top:246.9742431640625px;
	border-radius:8px;
	background-image:url(../images/fondo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e20_459 { 
	width:540px;
	height:176px;
	position:absolute;
	left:66px;
	top:491px;
}
.e20_460 { 
	width:540px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_462 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:540px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e20_463 { 
	background-color:rgba(58.00000034272671, 158.00000578165054, 62.00000010430813, 1);
	width:137px;
	height:48px;
	position:absolute;
	left:0px;
	top:128px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei20_463_759_1476 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:24px;
	position:absolute;
	left:32px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e20_461 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:664px;
	height:196px;
	position:absolute;
	left:66px;
	top:311px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
	line-height:px;
}
.e20_464 { 
	width:1440px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_70_115 { 
	width:170px;
	height:32px;
	position:absolute;
	left:1105px;
	top:20px;
}
.ei20_464_70_122 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_70_122_725_129 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_70_122_725_130 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.066667556762695px;
	height:17.066843032836914px;
	position:absolute;
	left:7.4666666984558105px;
	top:7.4666666984558105px;
}
.ei20_464_119_498 { 
	width:32px;
	height:32px;
	position:absolute;
	left:46px;
	top:0px;
}
.ei20_464_119_498_725_120 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_119_498_725_121 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.066667556762695px;
	height:17.042972564697266px;
	position:absolute;
	left:7.4666666984558105px;
	top:7.4666666984558105px;
}
.ei20_464_119_497 { 
	width:32px;
	height:32px;
	position:absolute;
	left:92px;
	top:0px;
}
.ei20_464_119_497_119_106 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_119_497_119_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.489017486572266px;
	height:12.800000190734863px;
	position:absolute;
	left:8px;
	top:9.600000381469727px;
}
.ei20_464_119_499 { 
	width:32px;
	height:32px;
	position:absolute;
	left:138px;
	top:0px;
}
.ei20_464_119_499_119_121 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_119_499_119_122 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.066667556762695px;
	height:12.266666412353516px;
	position:absolute;
	left:7.4666748046875px;
	top:10.13336181640625px;
}
.ei20_464_70_78 { 
	width:105px;
	height:28px;
	position:absolute;
	left:667px;
	top:22px;
}
.ei20_464_70_79 { 
	width:283px;
	height:20px;
	position:absolute;
	left:165px;
	top:26px;
}
.ei20_464_70_80 { 
	width:62px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei20_464_70_80_40_38 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei20_464_70_81 { 
	width:94px;
	height:20px;
	position:absolute;
	left:94px;
	top:0px;
}
.ei20_464_70_81_40_38 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:94px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei20_464_70_82 { 
	width:63px;
	height:20px;
	position:absolute;
	left:220px;
	top:0px;
}
.ei20_464_70_82_40_38 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:63px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e21_63 { 
	width:60px;
	height:40px;
	position:absolute;
	left:660px;
	top:16px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
