
.e22_191 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:877px;
	position:absolute;
}
.e22_230 { 
	background-color:rgba(255, 255, 255, 1);
	width:1531px;
	height:938px;
	position:absolute;
	left:-2px;
	top:-42px;
}
.e22_231 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:730px;
	height:64px;
	position:absolute;
	left:165px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e22_232 { 
	width:1201px;
	height:698px;
	position:absolute;
	left:165px;
	top:176px;
}
.e22_233 { 
	width:540px;
	height:648px;
	position:absolute;
	left:0px;
	top:25px;
}
.e22_234 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_234_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_234_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_234_893_353_893_9_869_147 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:6px;
	height:12px;
	position:absolute;
	left:18px;
	top:6px;
}
.ei22_234_893_353_893_9_869_148 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:7px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_234_893_353_893_9_869_149 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:7px;
	height:24px;
	position:absolute;
	left:9px;
	top:0px;
}
.ei22_234_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_234_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_234_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_235 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:120px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_235_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_235_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_235_893_353_893_9_869_156 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}
.ei22_235_893_353_893_9_869_157 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:22px;
	height:6px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_235_893_353_893_9_869_158 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:22px;
	height:6px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei22_235_893_353_893_9_869_159 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:22px;
	height:6px;
	position:absolute;
	left:0px;
	top:16px;
}
.ei22_235_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_235_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_235_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_236 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:240px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_236_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_236_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_236_893_353_893_9_869_194 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}
.ei22_236_893_353_893_9_869_195 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_236_893_353_893_9_869_196 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:10px;
	height:22px;
	position:absolute;
	left:6px;
	top:0px;
}
.ei22_236_893_353_893_9_869_197 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:18px;
	top:0px;
}
.ei22_236_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_236_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_236_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_237 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:360px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_237_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_237_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_237_893_353_893_9_869_216 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}
.ei22_237_893_353_893_9_869_218 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_237_893_353_893_9_869_220 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei22_237_893_353_893_9_869_225 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:1px;
}
.ei22_237_893_353_893_9_869_224 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:14px;
}
.ei22_237_893_353_893_9_869_223 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:19px;
}
.ei22_237_893_353_893_9_869_222 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:6px;
}
.ei22_237_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_237_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_237_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_318 { 
	background-color:rgba(58.00000034272671, 158.00000578165054, 62.00000010430813, 1);
	width:135px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei22_318_759_1476 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:24px;
	position:absolute;
	left:32px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_291 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:576px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_291_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_291_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_291_893_353_893_9_869_216 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}
.ei22_291_893_353_893_9_869_218 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_291_893_353_893_9_869_220 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei22_291_893_353_893_9_869_225 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:1px;
}
.ei22_291_893_353_893_9_869_224 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:14px;
}
.ei22_291_893_353_893_9_869_223 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:19px;
}
.ei22_291_893_353_893_9_869_222 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:6px;
}
.ei22_291_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_291_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_291_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_238 { 
	width:629px;
	height:720px;
	position:absolute;
	left:572px;
	top:-11px;
}
.e22_239 { 
	box-shadow:10px 15px 30px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.5);
	width:631px;
	height:720px;
	position:absolute;
	left:-1px;
	top:0px;
}
.ei22_239_369_807 { 
	width:550.2907104492188px;
	height:679.8139038085938px;
	position:absolute;
	left:41.08837127685547px;
	top:21.76744270324707px;
	background-image:url(../images/LIBROS.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei22_239_369_808 { 
	width:631px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/iphone_x.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_287 { 
	width:60px;
	height:40px;
	position:absolute;
	left:1366px;
	top:14px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
