
.e22_320 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:877px;
	position:absolute;
}
.e22_344 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1061px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_345 { 
	width:730px;
	height:128px;
	position:absolute;
	left:355px;
	top:80px;
}
.ei22_345_1118_2928 { 
	color:rgba(11.395313031971455, 11.43705379217863, 11.68750025331974, 1);
	width:730px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e22_346 { 
	width:1110px;
	height:346px;
	position:absolute;
	left:165px;
	top:256px;
}
.e22_347 { 
	width:1110px;
	height:346px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_348 { 
	background-color:rgba(157.0000058412552, 207.00000286102295, 159.0000057220459, 1);
	width:350px;
	height:346px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_348_521_155 { 
	width:286px;
	height:210px;
	position:absolute;
	left:32px;
	top:40px;
}
.ei22_348_891_1793 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_348_891_1793_869_147 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:8px;
	height:16px;
	position:absolute;
	left:24px;
	top:8px;
}
.ei22_348_891_1793_869_148 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9.333333015441895px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_348_891_1793_869_149 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:9.333333969116211px;
	height:32px;
	position:absolute;
	left:12px;
	top:0px;
}
.ei22_348_521_146 { 
	width:286px;
	height:122px;
	position:absolute;
	left:0px;
	top:88px;
}
.ei22_348_521_138 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_348_521_139 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:78px;
	position:absolute;
	left:0px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei22_348_521_151 { 
	width:71px;
	height:16px;
	position:absolute;
	left:32px;
	top:290px;
}
.ei22_348_521_151_516_340 { 
	color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei22_348_521_151_516_336 { 
	width:16px;
	height:16px;
	position:absolute;
	left:55px;
	top:0px;
}
.ei22_348_521_151_516_336_397_105 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:14.666828155517578px;
	height:9.333333015441895px;
	position:absolute;
	left:0.6666666865348816px;
	top:3.333343505859375px;
}
.e22_349 { 
	background-color:rgba(157.0000058412552, 207.00000286102295, 159.0000057220459, 1);
	width:350px;
	height:346px;
	position:absolute;
	left:380px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_349_521_155 { 
	width:286px;
	height:210px;
	position:absolute;
	left:32px;
	top:40px;
}
.ei22_349_891_1793 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_349_891_1793_869_167 { 
	width:29.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei22_349_891_1793_869_168 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:29.333332061767578px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_349_891_1793_869_169 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:7.999999523162842px;
	height:20px;
	position:absolute;
	left:0px;
	top:9.333333969116211px;
}
.ei22_349_891_1793_869_170 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:18.66666603088379px;
	height:20px;
	position:absolute;
	left:10.666666984558105px;
	top:9.333333969116211px;
}
.ei22_349_521_146 { 
	width:286px;
	height:122px;
	position:absolute;
	left:0px;
	top:88px;
}
.ei22_349_521_138 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_349_521_139 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:78px;
	position:absolute;
	left:0px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei22_349_521_151 { 
	width:73px;
	height:16px;
	position:absolute;
	left:32px;
	top:290px;
}
.ei22_349_521_151_516_340 { 
	color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:49px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei22_349_521_151_516_336 { 
	width:16px;
	height:16px;
	position:absolute;
	left:57px;
	top:0px;
}
.ei22_349_521_151_516_336_397_105 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:14.666828155517578px;
	height:9.333333015441895px;
	position:absolute;
	left:0.6666666865348816px;
	top:3.333343505859375px;
}
.e22_350 { 
	background-color:rgba(157.0000058412552, 207.00000286102295, 159.0000057220459, 1);
	width:350px;
	height:346px;
	position:absolute;
	left:760px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_350_521_155 { 
	width:286px;
	height:210px;
	position:absolute;
	left:32px;
	top:40px;
}
.ei22_350_891_1793 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_350_891_1793_869_183 { 
	width:26.666667938232422px;
	height:32px;
	position:absolute;
	left:2.6666667461395264px;
	top:0px;
}
.ei22_350_891_1793_869_184 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:14.666666984558105px;
	height:5.333333969116211px;
	position:absolute;
	left:12px;
	top:26.66666603088379px;
}
.ei22_350_891_1793_869_185 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:26.666667938232422px;
	height:5.333333492279053px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_350_891_1793_869_186 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:26.666667938232422px;
	height:16px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei22_350_521_146 { 
	width:286px;
	height:122px;
	position:absolute;
	left:0px;
	top:88px;
}
.ei22_350_521_138 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_350_521_139 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:286px;
	height:78px;
	position:absolute;
	left:0px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei22_350_521_151 { 
	width:84px;
	height:16px;
	position:absolute;
	left:32px;
	top:290px;
}
.ei22_350_521_151_516_340 { 
	color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei22_350_521_151_516_336 { 
	width:16px;
	height:16px;
	position:absolute;
	left:68px;
	top:0px;
}
.ei22_350_521_151_516_336_397_105 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:14.666828155517578px;
	height:9.333333015441895px;
	position:absolute;
	left:0.6666666865348816px;
	top:3.333343505859375px;
}
.e22_488 { 
	width:60px;
	height:40px;
	position:absolute;
	left:1366px;
	top:14px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_489 { 
	background-color:rgba(58.00000034272671, 158.00000578165054, 62.00000010430813, 1);
	width:134px;
	height:48px;
	position:absolute;
	left:652px;
	top:649px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei22_489_759_1476 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:32px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
