
.e22_493 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:866px;
	position:absolute;
}
.e22_504 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:866px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_505 { 
	border-radius:500px;
	background-color:rgba(156.00000590085983, 205.00000298023224, 158.00000578165054, 1);
	width:540px;
	height:540px;
	position:absolute;
	left:884px;
	top:48px;
}
.e22_506 { 
	width:730px;
	height:64px;
	position:absolute;
	left:165px;
	top:80px;
}
.ei22_506_1118_2915 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:730px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e22_507 { 
	width:1110px;
	height:400px;
	position:absolute;
	left:165px;
	top:192px;
}
.e22_508 { 
	width:1110px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_509 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_509_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_509_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_509_891_120_869_147 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:8px;
	height:16px;
	position:absolute;
	left:24px;
	top:8px;
}
.ei22_509_891_120_869_148 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9.333333015441895px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_509_891_120_869_149 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:9.333333969116211px;
	height:32px;
	position:absolute;
	left:12px;
	top:0px;
}
.e22_510 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:285px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_510_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_510_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_510_891_120_869_156 { 
	width:29.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei22_510_891_120_869_157 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:29.333332061767578px;
	height:7.999999523162842px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_510_891_120_869_158 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:29.333332061767578px;
	height:8px;
	position:absolute;
	left:0px;
	top:10.666666984558105px;
}
.ei22_510_891_120_869_159 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:29.333332061767578px;
	height:8px;
	position:absolute;
	left:0px;
	top:21.333332061767578px;
}
.e22_511 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_511_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_511_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_511_891_120_869_167 { 
	width:29.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei22_511_891_120_869_168 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:29.333332061767578px;
	height:6.666666507720947px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_511_891_120_869_169 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:7.999999523162842px;
	height:20px;
	position:absolute;
	left:0px;
	top:9.333333969116211px;
}
.ei22_511_891_120_869_170 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:18.66666603088379px;
	height:20px;
	position:absolute;
	left:10.666666984558105px;
	top:9.333333969116211px;
}
.e22_512 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:855px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_512_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_512_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_512_891_120_869_183 { 
	width:26.666667938232422px;
	height:32px;
	position:absolute;
	left:2.6666667461395264px;
	top:0px;
}
.ei22_512_891_120_869_184 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:14.666666984558105px;
	height:5.333333969116211px;
	position:absolute;
	left:12px;
	top:26.66666603088379px;
}
.ei22_512_891_120_869_185 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:26.666667938232422px;
	height:5.333333492279053px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_512_891_120_869_186 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:26.666667938232422px;
	height:16px;
	position:absolute;
	left:0px;
	top:8px;
}
.e22_513 { 
	width:1110px;
	height:168px;
	position:absolute;
	left:0px;
	top:232px;
}
.e22_514 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_514_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_514_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_514_891_120_869_194 { 
	width:29.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei22_514_891_120_869_195 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:5.3333330154418945px;
	height:29.333332061767578px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_514_891_120_869_196 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:13.333333015441895px;
	height:29.333332061767578px;
	position:absolute;
	left:7.999999523162842px;
	top:0px;
}
.ei22_514_891_120_869_197 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:5.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:24px;
	top:0px;
}
.e22_515 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:285px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_515_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_515_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_515_891_120_869_205 { 
	width:32px;
	height:29.333332061767578px;
	position:absolute;
	left:0px;
	top:1.3333333730697632px;
}
.ei22_515_891_120_869_206 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:9.333333969116211px;
	height:29.066665649414062px;
	position:absolute;
	left:22.66666603088379px;
	top:0px;
}
.ei22_515_891_120_869_207 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:8px;
	height:28.799999237060547px;
	position:absolute;
	left:12px;
	top:0.26666760444641113px;
}
.ei22_515_891_120_869_208 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9.333333015441895px;
	height:29.066665649414062px;
	position:absolute;
	left:0px;
	top:0.26666760444641113px;
}
.e22_516 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_516_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_516_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_516_891_120_869_216 { 
	width:29.333332061767578px;
	height:29.333332061767578px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei22_516_891_120_869_218 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_516_891_120_869_220 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:17.333332061767578px;
}
.ei22_516_891_120_869_225 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:13.333332061767578px;
	height:2.6666667461395264px;
	position:absolute;
	left:16px;
	top:1.3333333730697632px;
}
.ei22_516_891_120_869_224 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:13.333332061767578px;
	height:2.666666030883789px;
	position:absolute;
	left:16px;
	top:18.66666603088379px;
}
.ei22_516_891_120_869_223 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:13.333332061767578px;
	height:2.666667938232422px;
	position:absolute;
	left:16px;
	top:25.333332061767578px;
}
.ei22_516_891_120_869_222 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:13.333332061767578px;
	height:2.6666669845581055px;
	position:absolute;
	left:16px;
	top:7.999999523162842px;
}
.e22_517 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:168px;
	position:absolute;
	left:855px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_517_536_76 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_517_891_120 { 
	width:32px;
	height:32px;
	position:absolute;
	left:24px;
	top:112px;
}
.ei22_517_891_120_870_11 { 
	width:31.091812133789062px;
	height:31.99993133544922px;
	position:absolute;
	left:0.45409393310546875px;
	top:0.00006866454350529239px;
}
.ei22_517_891_120_870_12 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:31.091140747070312px;
	height:14.773265838623047px;
	position:absolute;
	left:0.00067138671875px;
	top:0px;
}
.ei22_517_891_120_870_13 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	opacity:0.6399999856948853;
	width:31.091812133789062px;
	height:9.401491165161133px;
	position:absolute;
	left:0px;
	top:14.023509979248047px;
}
.ei22_517_891_120_870_14 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:31.088905334472656px;
	height:9.401451110839844px;
	position:absolute;
	left:0.001452118158340454px;
	top:22.598480224609375px;
}
.e22_727 { 
	width:60px;
	height:40px;
	position:absolute;
	left:1358px;
	top:27px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
