.e22_629 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:701px;
	position:absolute;
}
.e22_630 { 
	width:540px;
	height:128px;
	position:absolute;
	left:165px;
	top:64px;
}
.ei22_630_1118_2910 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:540px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e22_631 { 
	width:1110px;
	height:72px;
	position:absolute;
	left:165px;
	top:240px;
}
.e22_632 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_632_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_632_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_632_893_353_893_9_869_147 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:6px;
	height:12px;
	position:absolute;
	left:18px;
	top:6px;
}
.ei22_632_893_353_893_9_869_148 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:7px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_632_893_353_893_9_869_149 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:7px;
	height:24px;
	position:absolute;
	left:9px;
	top:0px;
}
.ei22_632_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_632_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_632_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_633 { 
	width:540px;
	height:72px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_633_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_633_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_633_893_353_893_9_869_183 { 
	width:20px;
	height:24px;
	position:absolute;
	left:2px;
	top:0px;
}
.ei22_633_893_353_893_9_869_184 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:11px;
	height:4px;
	position:absolute;
	left:9px;
	top:20px;
}
.ei22_633_893_353_893_9_869_185 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:20px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_633_893_353_893_9_869_186 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:20px;
	height:12px;
	position:absolute;
	left:0px;
	top:6px;
}
.ei22_633_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_633_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_633_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_634 { 
	width:1110px;
	height:92px;
	position:absolute;
	left:165px;
	top:360px;
}
.e22_635 { 
	width:540px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_635_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_635_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_635_893_353_893_9_869_205 { 
	width:24px;
	height:22px;
	position:absolute;
	left:0px;
	top:1px;
}
.ei22_635_893_353_893_9_869_206 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:7px;
	height:21.799999237060547px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei22_635_893_353_893_9_869_207 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:6px;
	height:21.599998474121094px;
	position:absolute;
	left:9px;
	top:0.20000076293945312px;
}
.ei22_635_893_353_893_9_869_208 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:7px;
	height:21.799999237060547px;
	position:absolute;
	left:0px;
	top:0.20000076293945312px;
}
.ei22_635_516_84 { 
	width:428px;
	height:66px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_635_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_635_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:26px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_636 { 
	width:540px;
	height:92px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei22_636_893_353 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei22_636_893_353_893_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:24px;
}
.ei22_636_893_353_893_9_869_216 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}
.ei22_636_893_353_893_9_869_218 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei22_636_893_353_893_9_869_220 { 
	background-color:rgba(140.00000685453415, 48.000000938773155, 245.00000059604645, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei22_636_893_353_893_9_869_225 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:1px;
}
.ei22_636_893_353_893_9_869_224 { 
	background-color:rgba(46.000001057982445, 197.0000034570694, 206.0000029206276, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:14px;
}
.ei22_636_893_353_893_9_869_223 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:19px;
}
.ei22_636_893_353_893_9_869_222 { 
	background-color:rgba(214.00000244379044, 177.0000046491623, 255, 1);
	width:10px;
	height:2px;
	position:absolute;
	left:12px;
	top:6px;
}
.ei22_636_516_84 { 
	width:428px;
	height:92px;
	position:absolute;
	left:112px;
	top:0px;
}
.ei22_636_516_85 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.ei22_636_516_86 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:428px;
	height:52px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e22_724 { 
	background-color:rgba(58.00000034272671, 158.00000578165054, 62.00000010430813, 1);
	width:127px;
	height:48px;
	position:absolute;
	left:165px;
	top:500px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei22_724_759_1476 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:24px;
	position:absolute;
	left:32px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
